.header {
    background-color: #C64D24;
    color: #fff;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
