.header {
    background-color: #28807E;
    color: #fff;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-right: 1rem;
}

.modal {
    width: auto;
    margin: 20px auto;
    padding: 1rem;
}