.tableData {
    border: none;
    background: none;
}

.dropdown {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70%;
}

.button {
    background-color: #319795;
    border: none;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
