.sideMenucontainer {
    padding: 1rem;
    
}

.listContainer {
    list-style: none;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listContainer li {
    border: solid 1px black;
    padding: 1rem;
    border-radius: 16px;
    margin: 0.5rem;
    width: 8rem;
}

.listContainer li:hover {
    background-color: #319795;
    color: #fff;
}