.tableData {
    border: none;
    background: none;
    padding: 0.8rem;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: auto;
}


