.sideMenucontainer {
    border: solid 1px black;
    background-color: #03283b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    height: 100vh; 
}

.listContainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listContainer li {
    background: rgba(40, 128, 126, 0.08);
    padding: 0.8rem;
    border-radius: 14px;
    margin: 0.5rem auto;
    width: 90%;
    color: #fff;
}

.listContainer li:hover {
    background-color: #28807E;
    color: #fff;
    cursor: pointer;
}

.logo {
    width: 80%;
    height: auto;
    padding: 0.5rem 0;
}