/* Fix Bootstrap modal shifting layout */
body {
  padding-top: 0 !important;
  padding-right: 0 !important;
  background: linear-gradient(135deg, #f8f7f9, #ece8fa);
  min-height: 100vh;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


