.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    
}

.buttonsContainer {
    display: inline;
}

.button {
    margin-right: 0.7rem;
    background-color: #28807E;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logout {
  border: none;
  padding: 0.5rem;
  background-color: rgb(85, 85, 85);
  color: #fff;
  border-radius: 16px;
}

.logout:hover {
  background-color: rgb(49, 49, 49);
}

.dateDay {
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.form {
    position: relative;
    display: inline-block;
}

.searchx {
   position: absolute;
   right: 10px; /* move the X to the right edge */
   top: 50%;
   transform: translateY(-50%); /* center vertically */
   cursor: pointer;
   background: none;
   border: none;
}