.navBar {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    border-radius: 10px;
}

.buttonsContainer {
    display: inline;
}

.button {
    margin-right: 0.7rem;
    background-color: #319795;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dateDay {
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.form {
    position: relative;
    display: inline-block;
}

.searchx {
   position: absolute;
   right: 10px; /* move the X to the right edge */
   top: 50%;
   transform: translateY(-50%); /* center vertically */
   cursor: pointer;
   background: none;
   border: none;
}