.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 18px;
    box-shadow:
        0 6px 14px rgba(0, 0, 0, 0.10),
        0 14px 28px rgba(0, 0, 0, 0.12),
        inset 0 0 12px rgba(255, 255, 255, 0.15);
    margin-bottom: 14px;
    margin-top: 0;
}

.buttonsContainer {
    display: inline;
}

.button {
    margin-right: 0.7rem;
    background-color: #28807E;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logout {
  border: none;
  padding: 0.6rem;
  background-color: grey;
  color: #fff;
  border-radius: 18px;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  -webkit-backdrop-filter: blur(18px);
  box-shadow:
    0 6px 14px rgba(0, 0, 0, 0.12),
    0 12px 28px rgba(0, 0, 0, 0.16),
    inset 0 0 12px rgba(255, 255, 255, 0.25);
  transition: 0.25s ease;
}

.logout:hover {
    transform: translateY(-2px);
  box-shadow:
    0 8px 18px rgba(0, 0, 0, 0.18),
    0 14px 32px rgba(0, 0, 0, 0.24),
    inset 0 0 16px rgba(255, 255, 255, 0.3);
}

.dateDay {
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.form {
    position: relative;
    display: inline-block;
}

.searchx {
   position: absolute;
   right: 10px; /* move the X to the right edge */
   top: 50%;
   transform: translateY(-50%); /* center vertically */
   cursor: pointer;
   background: none;
   border: none;
}

.searchBar {
    border-radius: 16px;
}