.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./background1.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  
}

.main {
  background-color: rgb(244, 244, 245);
   height: auto;
   background: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
   backdrop-filter: blur(8px); /* Frosted glass effect */
   -webkit-backdrop-filter: blur(8px); /* Safari support */
   border-radius: 12px;
   padding: 1rem;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
