.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  position: relative;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  /* Background image */
  background-image: url('./background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  min-height: 100vh;
}

.form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

.buttonContainer {
  
    display: flex;
    justify-content: center;
}

.createAccount {
  margin-left: 33%;
}

.header {
  padding-bottom: 1rem;
  align-self: center;
}

.errors{
  color: red;
  font-size: 0.8rem;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}