.headerContainer {
  background-color: #ffffff;
  height: auto;
  position: relative;
  z-index: 3;
  width: 100%;
  border: 1px solid black;
}

.contentContainer {
  border-radius: 10px;  
}

.container {
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #f8fafa;
}

.sideMainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.mainContent {
  z-index: 3;
  background-color: #ffffff;
}

.sideMenu {
  width: 15%;
  height: 100%;
}

.contentandfilter {
  width: 80%;
}
/* Side filter container */
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  z-index: 3;
  border: 1px black solid;
  padding: 0.3em;
}

/* Table container */
.table {
  flex: 1; /* Take up remaining space */
  background-color: #fff;
  padding: 0.1rem;
  border: 1px solid black;
  overflow-x: auto;
  z-index: 3;
  width: 100%;
}

.personId {
    display: none;
}

.tableHead {
  background-color: #28807E;
}

/* Add employee button */

.addEmployeeBtn {
  z-index: 3;
  background-color: #319795;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

/* Delete button */

.deleteButton {
  background-color: #767474;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton:hover {
  background-color: #575656;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer button {
  margin: 0 0.5rem;
}

/* No results */

.noresults {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
}