.buttonsContainer {
  display: flex;
  justify-content: center;
}

.modal {
  padding: 1rem;
}

.modalHead {
  background: #081f2d;
  position: relative;
  color: #fff;
}

.modalHead::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #6fc7c2, #a185ff);
}

.modalHead :global(.btn-close) {
  filter: invert(1);
  opacity: 1;
}
