.button {
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 18px;
  padding: 0.5rem 1rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  box-shadow:
      0 6px 14px rgba(0, 0, 0, 0.12),
      0 12px 28px rgba(0, 0, 0, 0.16),
      inset 0 0 12px rgba(255,255,255,0.25);

  transition: 0.25s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow:
      0 8px 18px rgba(0, 0, 0, 0.18),
      0 14px 32px rgba(0, 0, 0, 0.24),
      inset 0 0 16px rgba(255,255,255,0.3);
}

.button:active {
  transform: scale(0.97);
}


