.dashContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 18px;
    box-shadow:
        0 6px 14px rgba(0, 0, 0, 0.10),
        0 14px 28px rgba(0, 0, 0, 0.12),
        inset 0 0 12px rgba(255, 255, 255, 0.15);

}

.dashContainer p {
    font-weight: 450;
}

.employees,
.departments,
.locations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border-radius: 18px;
    padding: 1.4rem 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.55);
    color: black;
    box-shadow:
        0 6px 14px rgba(0, 0, 0, 0.08),
        0 10px 28px rgba(0, 0, 0, 0.08),
        inset 0 0 12px rgba(255,255,255,0.2);
    transition: 0.25s ease;
}

.employees {
    background: radial-gradient(
        circle at top left,
        rgba(49,151,149,0.55),
        rgba(40,128,126,0.25) 50%,
        rgba(255,255,255,0.10) 90%
    );
}

.locations {
    background: radial-gradient(
        circle at top left,
        rgba(255,124,71,0.55),
        rgba(255,124,71,0.25) 45%,
        rgba(255,255,255,0.10) 90%
    );

}

.departments {
     background: radial-gradient(
        circle at top left,
        rgba(123,97,255,0.55),
        rgba(123,97,255,0.25) 50%,
        rgba(255,255,255,0.10) 90%
    );
}

.employees:hover,
.departments:hover,
.locations:hover {
    transform: translateY(-4px);
    box-shadow:
        0 8px 18px rgba(0, 0, 0, 0.15),
        0 14px 32px rgba(0, 0, 0, 0.15);
}

.logo {
    padding-right: 1rem;
}