.header {
  background: #081f2d;
  position: relative;
  color: #fff;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #6fc7c2, #a185ff);
}

.header :global(.btn-close) {
  filter: invert(1);
  opacity: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
