.sideMenucontainer {
    width: 15rem;
    background-color: #03283b;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listContainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.listContainer li {
    background-color: #03283b;
    padding: 0.8rem;
    border-radius: 18px;
    margin: 0.5rem auto;
    width: 12rem;
    color: #fff;
}

.listContainer li:hover {
    background: linear-gradient(353deg,rgba(42, 123, 155, 1) 12%, rgba(40, 128, 126, 1) 76%);
    color: #fff;
    cursor: pointer;
  backdrop-filter: blur(22px) saturate(200%);
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.listItem {
    padding: 0.8rem;
    border-radius: 18px;
    width: auto;
    background: linear-gradient(353deg,rgba(42, 123, 155, 1) 12%, rgba(40, 128, 126, 1) 76%);
    color: #fff;
    cursor: pointer;
    backdrop-filter: blur(22px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.logo {
    width: 85%;
    height: auto;
    padding: 0.5rem 0;
}