.profilePage {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profileCard {
  max-width: 40rem;
  background-color: #f8f9fa;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 16rem;
}

.profileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

.roleBadge {
  background: #e7f1ff;
  color: #0d6efd;
  padding: 4px 12px;
  border-radius: 999px;
  font-size: 0.85rem;
}
